/* font family */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* root color */
:root {
  --blue: rgba(85, 172, 238, 1);
  --blue-50: rgba(85, 172, 238, 0.5);
  --dark: rgba(27, 27, 27, 1);
  --white: rgba(242, 246, 255, 1);
  --white-50: rgba(242, 246, 255, 0.9);
}

body {
  font-family: "Inter", sans-serif !important;
  background-color: var(--white);
  color: var(--dark) !important;
}

/* reuse */
.title-section {
  box-shadow: inset 0 -0.8rem var(--blue-50);
}
section {
  padding-top: 8rem;
}

/* navbar */
.navbar.scrolled {
  background-color: rgba(242, 246, 255, 0.95);
  backdrop-filter: blur(0.8rem);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.navbar-brand {
  color: var(--dark) !important;
  padding: 0;
  box-shadow: inset 0 -0.8rem var(--blue-50);
  transition: all 0.3s ease-in-out;
}

.navbar-brand:hover,
.navbar-brand:focus {
  box-shadow: inset 0 -0.8rem var(--blue);
}

.nav-link {
  color: var(--dark) !important;
  font-size: 1.1rem;
  margin-left: 1rem;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--blue) !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover,
.navbar-toggler:active {
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  color: var(--dark) !important;
}

/* home */

.jumbotron {
  padding-top: 0;
}

#typed {
  box-shadow: inset 0 -1rem 0 var(--blue-50);
}

.home-img {
  width: 100%;
  height: 400px;
  animation: bounce 3s linear infinite;
}

.cta {
  width: 100%;
}

.btn {
  position: relative;
  color: var(--white) !important;
  border-radius: 0.15rem;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  z-index: -1;
  transition: all 0.3s ease;
}

.btn:hover::before {
  height: 100%;
}
.btn:hover {
  color: var(--dark) !important;
  background-color: var(--dark);
}

.btn:nth-child(2) {
  color: var(--dark) !important;
  background-color: var(--white) !important;
}
.btn:nth-child(2):hover {
  color: var(--white) !important;
}

.btn:nth-child(2)::before {
  background-color: var(--dark) !important;
}

.border-dark {
  border-color: var(--dark) !important;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  75% {
    transform: translateY(20px);
  }
}

/* about */
.about-img {
  width: fit-content;
  height: 18rem;
  box-shadow: 2rem 2rem 0 var(--blue-50);
  transition: all 0.3s ease;
}
.about-img:hover {
  box-shadow: 3rem 3rem 0 var(--blue-50);
  transform: translate(-0.5rem, -0.5rem);
}

.list-group .list-group-item {
  padding: 0;
  background-color: transparent;
  border: none;
  letter-spacing: 0.1rem;
}

.list-group .list-group-item::before {
  content: "> ";
  color: var(--blue);
  font-weight: 500;
}

.border-blue {
  border-color: var(--blue-50) !important;
}

/* work */
.overlay {
  background-color: var(--white-50);
  backdrop-filter: blur(0.2rem);
  padding: 2rem;
  opacity: 0;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.work-box:hover .overlay {
  opacity: 1;
}

/* contact */

.btn-contact {
  color: var(--dark) !important;
  background-color: var(--white) !important;
}
.btn-contact:hover {
  color: var(--white) !important;
}

.btn-contact::before {
  background-color: var(--dark) !important;
}

@media (max-width: 992px) {
  /* about */
  .fs-md-6 {
    font-size: 1rem !important;
  }
}

@media (max-width: 767.98px) {
  /* navbar */
  .nav-link {
    margin-left: 0;
  }

  .home-img {
    animation: none;
  }
}

@media (max-width: 575.98px) {
  .title-section {
    box-shadow: inset 0 -0.6rem var(--blue-50);
  }

  /* home */
  #typed {
    box-shadow: inset 0 -0.7rem 0 var(--blue-50);
  }
  .home-img {
    animation: none;
  }
}
